# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.vite/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/

# Supabase
.supabase/

# Misc
*.local
.cache/
migration/.env
.vercel
